*
	box-sizing: border-box
	padding: 0
	margin: 0
	font: normal 100% "Roboto", sans-serif
	color: #666
	background-color: #fafafa

.fullwidth
	width: 100%

.fullheight
	height: 100vh

.flex
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex

.center
	justify-content: center

.middle
	align-items: center

.card
	border: 1px solid #eee
	box-shadow: 0 2px 6px rgba(0, 0, 0, .1)

	&__title,
	&__body
		padding: 1.6rem

	&__title
		color: #333
		font-size: 1.5rem
		font-weight: 900
		border-bottom: 1px solid #eee
		background-color: #ecf0f1

	&__body

.input-box,
.button
	padding: 10px
	border-radius: 2px
	transition: all 200ms ease-in-out

	&:focus
		outline: none

.input-box
	border: 1px solid #eee

	&::-webkit-input-placeholder
		color: #999

.button
	background-color: #e67e22
	color: #fff
	border: 1px solid #d35400
	margin-top: 20px
	cursor: pointer

	&:hover
		background-color: #fafafa
		color: #e67e22
